@tailwind base;
@tailwind components;
@tailwind utilities;

.button-base::before,
.button-base::after {
  position: absolute;
  width: 0%;
  height: 0%;
  transition: 500ms;
}

.button-contained::before {
  top: var(--y);
  left: var(--x);
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.button-contained:hover::before {
  width: 225%;
  height: 800%;
}

.button-outlined::before {
  left: 0;
  bottom: 0;
}

.button-outlined::after {
  right: 0;
  top: 0;
}

.button-outlined:hover::before,
.button-outlined:hover::after {
  height: 100%;
  width: 100%;
}

.button-text::after {
  transition: 300ms;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.button-text:hover::after {
  height: 1px;
  width: calc(100% - 20px);
}

.button-base:disabled::before,
.button-base:disabled::after {
  display: none;
}

.search-input-wrapper::before,
.search-input-wrapper::after {
  content: '';
  position: absolute;
  transition: 300ms;
  z-index: -1;
}

.search-input-wrapper::before{
  border-width: 2px;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  top: 13px;
  left: 18px;
}

.search-input-wrapper::after {
  top: 24px;
  left: 31px;
  border-radius: 1px;
  height: 7px;
  width: 2px;
  rotate: -45deg;
}

.search-input-wrapper > input {
  padding-left: 50px;
}

.search-input-wrapper.focused > input {
  padding-left: 16px;
}

.search-input-wrapper.focused::after {
  top: 14px;
  left: 16px;
  opacity: 0;
  width: 0.5px;
  height: 16px;
  rotate: 0deg;
}

.search-input-wrapper.focused::before {
  border-width: 1px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-color: #DDE4EB;
}

.logo::before,
.logo::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 1s;
  width: 22px;
  height: 26px;
  clip-path: polygon(50% 0, 50% 50%, 0 50%, 0 0);
  background-image: linear-gradient(#695ACC, #2CB8E0);
}

.logo::before {
  top: 0;
  border-radius: 100% 65% 0 0;
}

.logo::after {
  bottom: 0;
  border-radius: 100% 0 0 65%;
  background-image: linear-gradient(#2CB8E0 ,#695ACC );
  rotate: 180deg;
  transform: scaleX(-1)
}

.logo:hover::before,
.logo:hover::after {
  border-radius: 0;
  clip-path: polygon(50% 0%, 50% 62%, 0 62%, 50% 0%);
}

.logo div {
    border-radius: 100% 0 100% 0;
}
